@model List<TimeTracker.Model.Schedule>

@{
    ViewBag.Title = "Pregled rasporeda";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<partial name="_ScheduleTablePartial" model="Model" />
